<div class="catalog-products-container">
  <div class="catalog-products-title">
    <h2>პროდუქტი</h2>
    <p>{{ products.length }} პროდუქტი</p>
  </div>
  <div class="catalog-products-list">
    <div *ngFor="let catalogProduct of products">
      <app-product-card
        [productImage]="catalogProduct.image"
        [productName]="catalogProduct.title"
        [productType]="catalogProduct.category"
        [productPrice]="catalogProduct.price + '₾'"
        [isOnSale]="catalogProduct.isOnSale"
      ></app-product-card>
    </div>
  </div>
</div>
