<div class="collections-container">
  <img
    src="../../../assets/images/collections/collection1.jpg"
    alt="collection"
  />
  <img
    src="../../../assets/images/collections/collection2.jpg"
    alt="collection"
  />
  <div class="second-collection">
    <img
      src="../../../assets/images/collections/collection3.jpg"
      alt="collection"
    /><img
      src="../../../assets/images/collections/collection4.jpg"
      alt="collection"
    /><img
      src="../../../assets/images/collections/collection5.jpg"
      alt="collection"
    />
  </div>
</div>
