<div class="blogs">
  <h2>ბლოგები</h2>
  <div class="blogs-container">
    <div class="blog-container">
      <img src="../../../assets/images/blog1.jpg" alt="blog" />
      <div class="blog-content">
        <h4>ნატერიალი</h4>
        <p>
          მოაწყვეთ თქვენი ეზო, ბაღი ან ტერასა ფრანგული ბრენდის ტრენდული გარე
          ავეჯით!
        </p>
        <button>მეტის წაკითხვა -></button>
      </div>
    </div>
    <div class="blog-container">
      <img src="../../../assets/images/blog2.jpg" alt="blog" />
      <div class="blog-content">
        <h4>B2B</h4>
        <p>
          ავეჯის, დეკორისა და განათების მულტიბრენდული ჰაბი ICR HOME კორპორატიულ
          კლიენტებს პერსონალური ასისტენტის სერვისს სთავაზობს.
        </p>
        <button>მეტის წაკითხვა -></button>
      </div>
    </div>
    <div class="blog-container">
      <img src="../../../assets/images/blog3.jpg" alt="blog" />
      <div class="blog-content">
        <h4>ინტერიერის აქსესუარები, რომლებიც ქმნიან განწყობას</h4>
        <p>
          მიუხედავად იმისა, რომ ავეჯი ბინაში ყველაზე მეტ სივრცეს იკავებს,
          აქსესუარები ის ნაწილია...
        </p>
        <button>მეტის წაკითხვა -></button>
      </div>
    </div>
  </div>
  <button class="load-more">მეტის ჩატვირთვა</button>
</div>
