<header>
  <div class="header-container">
    <app-hamburger-menu [categories]="categories"></app-hamburger-menu>
    <a href="/"><img src="../../../assets/images/logo.svg" alt="" /></a>
    <div class="header-search"><input type="text" placeholder="ძიება" /></div>
    <div class="right-content">
      <button>
        <div class="phone-container">
          <mat-icon aria-hidden="true" role="img">phone</mat-icon>
          0322121412
        </div>
      </button>
      <button>
        <mat-icon matBadge="8" class="heart-icon">favorite</mat-icon>
      </button>
      <button>
        <mat-icon aria-hidden="true" role="img">person</mat-icon>
      </button>
      <button>
        <mat-icon aria-hidden="true" role="img">shopping_cart</mat-icon>
      </button>
      <button>
        <mat-icon aria-hidden="true" role="img">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</header>
