header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  padding: 0 20px;
  position: relative;
}

.header-container {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-container img {
  width: 150px;
}

.header-container .header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  width: 60%;
  border-radius: 30px;
  background-color: #f1f1f1;
}

.header-search input {
  border-radius: 30px;
  background-color: #f1f1f1;
  border: none;
  width: 100%;
  padding: 12px 16px;
  transition: background-color 1s ease, border 1s ease; /* Transitions for active and default state */
}

.header-search input:focus {
  outline: none;
}

.header-search input:active {
  background-color: white;
  border: 2px solid black;
}

.header-search input:not(:active) {
  background-color: #f1f1f1;
  border: none;
}

.right-content button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
}

.right-content button:nth-child(1) {
  font-weight: 700;
}

.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;
  font-weight: 700;
  border: 1px solid black;
  padding: 7px 8px;
  border-radius: 15px;
}

.heart-icon {
  background-color: white !important;
}

@media only screen and (max-width: 1084px) {
  .header-container .header-search {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .header-container .header-search {
    width: 100%;
  }

  .header-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  header {
    height: 130px;
  }
}

/* Liked Products */

.liked-products-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 400px;
  padding-top: 170px;
  align-items: start;
  justify-content: center;
  z-index: 15;
  top: -20px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.407);
  display: none;
}

.liked-products-container.isLikedProductsOpen {
  display: flex;
}

.liked-products {
  width: 900px;
  height: 400px;
  background-color: white;
  padding: 20px;
}

.liked-products-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.liked-products-text h4 {
  font-size: 20px;
}

.liked-products-length {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 80px;
}

.liked-products-length h5 {
  font-size: 20px;
}

.liked-products-length h5 span {
  border: 1px solid black;
  border-radius: 50%;
  padding: 4px 10px;
}

.liked-products-length .goto {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 20px;
}

/* Close button */

/* .close-liked-products {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-liked-products::before,
.close-liked-products::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: black;
  transform-origin: center;
}

.close-liked-products::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-liked-products::after {
  transform: translate(-50%, -50%) rotate(-45deg);
} */
