.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 20px;
}

.category {
  position: relative;
  padding-bottom: 20px;
}

.category h2 {
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}

.data {
  display: none;
  position: absolute;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  top: 30px;
  left: -20px;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  z-index: 999;
  background-color: white;
}

.data li {
  list-style-type: none;
  font-size: 12px;
  cursor: pointer;
  font-weight: 900;
}

.data li:hover {
  color: rgb(221, 93, 93);
}

.category:hover .data {
  display: flex;
}

/* ////////////////////////////// */

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Adjust size as needed */
  border-right: 10px solid transparent; /* Adjust size as needed */
  border-bottom: 10px solid #333; /* Adjust color as needed */
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

@media only screen and (max-width: 1024px) {
  .navigation-container {
    display: none;
  }
}
