<div class="footer-container">
  <footer>
    <div class="top-content">
      <img src="../../../assets/images/footer.png" alt="footerImage" />
      <div class="subscribe-container">
        <h2>გამოიწერე ჩვენი სიახლეები</h2>
        <p>მიიღე ინფორმაცია ფასდაკლების შესახებ ელ-ფოსტაზე</p>
      </div>
      <div class="footer-input">
        <input type="text" placeholder="ელ-ფოსტა" />
        <button>გაგზავნა</button>
      </div>
    </div>
    <div class="bottom-content">
      <div class="footer-list">
        <h3>ICR HOME</h3>
        <ul>
          <li>ჩვენს შესახებ</li>
          <li>ხშირად დასმული კითხვები</li>
          <li>კონტაქტი</li>
          <li>B2B</li>
        </ul>
      </div>
      <div class="footer-list">
        <h3>ბრენდები</h3>
        <ul>
          <li>ლაბორატორია ჩემი</li>
          <li>სახლი</li>
          <li>მობლერი</li>
          <li>კარე</li>
        </ul>
      </div>
      <div class="footer-list">
        <h3>შემოგვიერთდი</h3>
        <ul>
          <li>Laboratory My Home</li>
          <li>Mobler Home</li>
          <li>KARE</li>
        </ul>
      </div>
    </div>
  </footer>
</div>
